body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid white;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    border-radius: 15px 0px 0px 15px;
    background-color: #a7a7a797;
    color: #170229;
  }
  
  .past {
    background-color: #d8bdcd;
    color: white;
  }
  
  .present {
    background-color: #f97ac6;
    color: white;
  }
  
  .future {
    background-color: #6fe2f7;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #303030aa;
    color: white;
  }

  .saveBtn:hover {
    border-color: transparent;
    border-width: 3px;
    background-color: #121212aa;
    transition: all 0.3s ease-in-out;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  